.test{
  color: pink;
  text-align: center;
  background-color: blue;
  text-decoration: underline;
  top:-20rem;
  position: relative;
  text-align: center;
  
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
}

.zoom-bg {
  position: relative;
  overflow: hidden;
}

.zoom-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;

  animation: zoomRotate 300s ease-in-out infinite alternate;
}

@keyframes zoomRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(7) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.zoom-bg > * {
  position: relative;
  z-index: 1;
}


.tb-colour-1 {
  background-color:#3bc462;
}

.tb-colour-2 {
  background-color: #ce5db1;
}

.hov {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hov:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}
