.test{
  color: pink;
  text-align: center;
  background-color: blue;
  text-decoration: underline;
  top:-20rem;
  position: relative;
  text-align: center;
  
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
}

.zoom-bg {
  position: relative;
  overflow: hidden;
}

.zoom-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1) rotate(0deg);;
  transition: transform 60s ease-in-out;
  z-index: 0;
}

.zoom-bg.zooming::before {
  transform: scale(5) rotate(90deg);; /* Zoom level */
}

.zoom-bg > * {
  position: relative;
  z-index: 1; /* Keep nav, logo, text on top */
}